@page "/"
@inject IDialogService DialogService
@inject TriviaRealtimeDB RealtimeDB
@inject NavigationManager NavigationManager 
@using Guth.OpenTrivia.FirebaseDB
@using MudBlazor


<div>
    @ChildContent
</div>

@code {
    
}