@page "/authors/{authorName}"
@inject IPoetryDBClient Client

@if(_sortedPoems != null && _sortedPoems.Any())
{
    <MudText Typo="Typo.h3">@AuthorName</MudText>
    @foreach(Poem poem in _sortedPoems)
    {
        <div>
            <MudLink Href="@($"/titles/{poem.Title}")" Underline="Underline.Always">@poem.Title</MudLink>
        </div>
    }
}

@code {
    [Parameter] public string AuthorName { get; set; }
    [Inject] NavigationManager Nav { get; set; }

    private IEnumerable<Poem> _sortedPoems;

    protected override async Task OnParametersSetAsync()
    {
        _sortedPoems = (await Client.GetTitlesByAuthor(AuthorName))
            .OrderBy(poem => poem.Title);
        StateHasChanged();
    }
}
