@page "/randompoems"
@inject IPoetryDBClient Client

<button onclick="GetRandomPoem">Get Random Poem!</button>

@if(_poem != null)
{
    <h1>@_poem.Title</h1>
    <h4>@_poem.Author</h4>
    <p>@string.Join("\n", _poem.Lines)</p>
}

@code {
    private Poem _poem;

    private async Task GetRandomPoem()
    {
        _poem = (await Client.GetRandomTitles(1)).First();
        StateHasChanged();
    }
}
