@page "/randompoems"
@inject IPoetryDBClient Client

<button @onclick=GetRandomPoem>Get Random Poem!</button>

@if(_poem != null)
{
    <h1>@_poem.Title</h1>
    <a href="@($"/authors/{_poem.Author}")"><h3>@_poem.Author</h3></a>
    <p>
        @foreach(string line in _poem.Lines)
        {
            <div>@line</div>
        }
    </p>
}

@code {
    private Poem _poem;
    [Inject] NavigationManager Nav { get; set; }

    private async Task GetRandomPoem()
    {
        _poem = (await Client.GetRandomTitles(1)).First();
        StateHasChanged();
    }
}
